body{
    height: 100vh;
    background-image: url('../src/img/bg-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar{
    display: none;
}

.container{
    max-height: 90vh;
    margin-top: 40px !important;
    padding-bottom: 8px;
    /* background-color: rgba(255, 0, 0, 0.281); */
    margin: auto;
    max-width: 700px;
    overflow: scroll;
    position: relative;
}
/* header{
    background-color: yellow;
} */

header::after{
    content: '';
        position: absolute;
        left: 50%;
        top: 150px;
        width: 100%;
        height: 1px;
        background-color: #cfcece;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
}
header h1{
    width: fit-content;
    margin: 0 auto;
    color: transparent;
    font-size: 50px;
    background: #b19768;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}
header h1 span{
    margin: 0 auto;
    font-family: 'Grape Nuts', cursive;
    font-style: italic;
    letter-spacing: 5px;
}
.done{
    text-decoration: line-through;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.item{
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    font-size: 22px;
    padding: 8px;
    margin: 0 auto;
    margin-top: 15px;
}
i{
    font-size: 22px;
}
.card{
    box-shadow: 0 2px 7px 1px rgba(0,0,0,0.2);

}
.bt-add{
    margin-left: 15px;
}

.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap h2{
    color: rgb(179, 179, 179);
}
.addButton{
    width: 40px;
    height: 40px;
    font-size: 20px;
    border: none;
    margin-left: 25px;
    background-color: #87ceeb;
    color: white;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
    transition: all .2s ease;
    box-shadow: 2px 2px 5px 2px #00000053;
    /* -webkit-box-shadow: 5px 5px 15px 5px #000000;  */
}

.cardModal input{
    height: 20px;
    border: 1px solid #c5c4c4;
    background-color: rgb(255, 255, 255);
    outline: none;
}
.cardModal input:focus{
    border: 1px solid #8c8c8c !important;
}
.bt-add{
    background-color: #87ceeb;
    color: white;
    border: none;
    height: 28px;
    border-radius: 5px;
    transition: all .2s ease;
    box-shadow: 2px 2px 5px 1px #00000053;
}
.bt-add:hover{
    background-color: #a3e1f9
}
.bt-add:active{
    box-shadow: 0px 0px 5px 0px #00000053
}
.addButton:hover{
    background-color: #a3e1f9;
}
.addButton:active{
    box-shadow: 0px 0px 5px 0px #00000053;
}

.modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardModal{
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(237, 237, 237);
}
.hide{
    display: none;
}